<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.branch.tech.ppm">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".BranchPPMApplication"
        android:icon="@mipmap/branch_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/branch_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BranchPPMTechAssessment">

        <activity android:name=".OtherActivity"></activity>
        <activity android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="ppm-tech-challenge" android:host="open" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="ppm-tech-challenge.app.link" />
                <data android:scheme="https" android:host="ppm-tech-challenge-alternate.app.link" />
            </intent-filter>
        </activity>

        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="@string/branch_key_live" />
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />
    </application>

</manifest>